<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
       main{
        height: 100vh;
       }
    </style>
</head>
<body>
    <!-- <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li>
            </ul>
            <ul>
                <li><a href="/admin/products">Products</a></li>
            </ul>
        </nav>
    </header> -->
    <main>
        <form method="post" action="/login/postlogin">
            <h4>Sign In</h4>
            <input type="text" name="email" id="" placeholder="email">
            <input type="password" name="password" id="" placeholder="password">
            <button type="submit" class="btn">Sign In</button>
        </form>
       
    </main>
</body>
</html>