<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
       main{
        height: 100vh;
       }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
               
            </ul>
            <ul>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post" action="/reset/postNewPassword">
            <h4>Enter New Password</h4>
            
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="hidden" name="email" value="<%=email%>">
            <input type="password" name="password" id="" placeholder="Enter new password">
            <input type="password" name="confirmPassword" id="" placeholder="Confirm password">
            
            <button type="submit" class="btn">Reset!</button>
        </form>
       
    </main>
</body>
</html>