<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin.css">
    <style>
       main{
        height: 100vh;
       }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- <li><a href="/">Home</a></li>
                <li><a href="/shop">Shop</a></li> -->
            </ul>
            <ul>
                <li><a href="/login">Sign In</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post" action="/signup/postSignup">
            <h4>Sign Up</h4>
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <input type="text" name="name" id="" placeholder="Name">
            <input type="text" name="email" id="" placeholder="Email">
            <input type="password" name="password" id="" placeholder="Password">
            <input type="password" name="confirmPassword" id="" placeholder="Confirm password">
            <% if(user != null){ %>
            <p>User already exists please signin</p>
            <% } %>
            <button type="submit" class="btn">Sign Up</button>
        </form>
       
    </main>
</body>
</html>